.about .block {
    padding: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    line-height: 1.8rem;
}

.about .block.quote {
    padding-top: 2.0rem;
    text-align: center;
}

.about .block.quote p {
  padding-bottom: 1.5rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}


.about .block span{
    white-space: nowrap;
    color: #d12767;
}

.about .block.idea {
    word-spacing: 0.1rem;
}

.about .header {
    padding: 0.5rem;
    padding-left: 0;
    color: #637693;
}

.about .a{
  opacity: 0;
  transition:opacity 0.5s linear;
}

.about .b{
  opacity: 0;
  transition:opacity 0.5s linear;
}

.about .c{
  opacity: 0;
  transition:opacity 0.5s linear;
}

.about .d{
  opacity: 0;
  transition:opacity 0.5s linear;
}

.about .e{
  opacity: 0;
  transition:opacity 0.5s linear;
}

.about .f{
  opacity: 0;
  transition:opacity 0.5s linear;
}

.about .g{
  opacity: 0;
  transition:opacity 0.5s linear;
}
