.App {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 80rem;
}

/*@media screen and (min-width:1024px) {
  .App{max-width:1024px;}
}*/

.App-logo{
  font-size: 2.3rem;
  color: #fff;
  padding: 0.57em;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.App-logo span{
    color: #d12767;
}

.App-header {
  background: none repeat scroll 0 0 #162b4d;
  position: relative;
  width: 100%;
  font-weight: 100;
  letter-spacing: -1px;
}

.App-header ul{
  float: right;
  padding: 0;
}

.App-header li {
    float: left;
    list-style: none outside none;
    cursor: pointer;
    padding: 0;
}

.App-header li a{
  font-size: 1.1rem;
  padding: 1.9rem 1.2rem;
  color: #fff;
  letter-spacing: 0px;
  display: inline-flex;
  vertical-align: middle;
}

.App-header .menuIcon li a:hover{
    background: none;
  }

.App-header .menu li a:hover{
    background: none repeat scroll 0 0 #283D5F;
  }
.App-header .menu li .active{
  background: none repeat scroll 0 0 #0b192f !important;
}

.App-header .menu{
  max-height: 0;
  opacity: 0;
  width:0;
  visibility: hidden;
}

.App-header .menu.show{
  max-height: 10rem;
  opacity: 1;
  width: 100%;
  background: #0b192f;
  visibility:initial;
}

.App-header li.menu.show {
    float: right;
    width: auto;
}

.App-header .menuIcon{
  float: left;
  padding: 0;
}


.App-header .social{
  padding:1rem;
}

.App-header .social li{
   padding-top: 0.3rem;
   padding-left: 0.3rem;
}

.App-header .social li a{
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283d5f;
  border: 1px solid white;
}

.App-header .social li a i{
  font-size: 30px !important;
}

.App-header .social li a div{
  width: 40px !important;
  height:40px !important;
}

.App-header .social li a:hover{
    border: 2px solid #B71757;
  }
.App-header .social li .active{
    border: 2px solid #B71757 !important;
}

.App-header .logout{
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283d5f;
    border: 1px solid white;
}

.App-footer{
  background: none repeat scroll 0 0 #162b4d;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  padding: 1.7rem;
  position: relative;
  width: 100%;
  color: #637693;
  font-size: 0.9rem;
}

.App-footer .rights{
    float:left;
    text-align: center;
    width: 100%;

}

.App-footer .about{
    float:right;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}

.App-footer .about a{
  color: #637693;
  font-size: 0.9rem;
  padding: 0.2rem;
}

.App-body{
  min-height: 32em;
}


/*@media only screen and (max-width: 350px) {
  .App-logo{
     float: left;
     padding-left: 0;
     padding-right: 0;
  }
}*/

@media only screen and (min-width: 480px) {

  .App-header {
    margin-bottom: 1rem;
  }

  .App-footer{
    margin-top: 1.25rem;
  }
}

@media only screen and (min-width: 769px) {

  .App {
    text-align: left;
    padding: 0 0.625rem;
  }

  .App-logo{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .App-header .menu{
    max-height: 10rem;
    opacity: 1;
    width: auto;
    visibility:initial;
  }

  .App-header .menuIcon{
    height: 0;
    opacity: 0;
    width: 0;
    visibility: hidden;
  }

  .App-footer .rights{
      width:66.6%;
      text-align:left;
  }

  .App-footer .about{
      width:33.3%;
      text-align:right;
      padding-bottom: 0;
  }

  #header{
    background: none repeat scroll 0 0 #162b4d;
    position: absolute;
    width: 100%;
    height: 5.3em;
  }

}
