.App {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 71.25rem;
}

@media only screen and (min-width: 768px) {
  .App {
    padding: 0 0.625rem;
    text-align: left;
  }
}

/*@media screen and (min-width:1024px) {
  .App{max-width:1024px;}
}*/

.App-logo{
  font-size: 2.3rem;
  color: #fff;
  padding: 0.55em;
  display: inline-block;
}

.App-logo span{
    color: #d12767;
}

.App-header {
  background: none repeat scroll 0 0 #162b4d;
  position: relative;
  width: 100%;
  font-weight: 100;
  letter-spacing: -1px;
}

.App-header ul{
  float: right;
  padding: 0;
  display: inline-block;
  padding-right: 1.0em;
}

.App-header li {
    float: left;
    list-style: none outside none;
    cursor: pointer;
    padding: 0;
}

.App-search{
  padding-left: 0.5rem !important;
}

.App-header li a{
  font-size: 1.1rem;
  padding: 2rem 1.25rem;
  color: #fff;
  letter-spacing: 0px;
  display: inline-flex;
  vertical-align: middle;
}
.App-header li a:hover, .App-header li .active{
  background: none repeat scroll 0 0 #0b192f;
}




@media only screen and (min-width: 480px) {
  .App-header {
    margin-bottom: 1rem;
  }
}
