.authorProfile{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1rem;
  background: none repeat scroll 0 0 #ccc;
  color: #162b4d;
}

.authorProfile .authorImage{
  border: 0.1rem solid white;
  float:left;
}

.authorProfile ul{
  float: left;
  padding-top: 3%;
  padding-left: 5%;
}

.authorProfile li{
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.authorProfile p{
  text-indent: 20%;
  text-align: left;
  word-spacing: 0.3rem;
  line-height: 1.8;
  padding: 1rem 0rem;
  float: left;
}

/*.authorProfile .item{
  border: 0.05rem solid #162b4d;
}*/
