.episodeStrip{
  width: 100%;
  display: inline-block;
  background: white;
  color: #0b192f;
  float: left;
}

.episodeStrip .title{
  font-size: 1.2rem;
  text-align: center;
  float: left;
  width: 100%;
}

.episodeStrip ul.episodes {
    background: white;
    width: 100%;
    padding: 1.0rem 0;
    display: block;
    text-align: center;
    float: left;
}

.episodeStrip li.episode {
    padding: 0.1rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
}

.episodeStrip .episode a {
  border-radius: 50%;
  border: 1px solid #d12767;
  padding-top: 0.6rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #0b192f;
}

.episodeStrip .episode.highlight a {
  background-color: #d12767;
  color: white;
}
