.contentFooter{
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 1.2rem;
  background-image: url(../img/bg.png);
  float: left;
}

.contentFooter ul{
    width: 100%;
    padding:1.0rem 0  ;
    display: block;
    text-align: center;
    float:left;
}

.contentFooter .share{
   padding-top: 1.5rem;
}

.contentFooter li{
  padding: 0 1.0rem;
  display: inline-block;
  cursor: pointer;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}

.contentFooter li:active{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.contentFooter li:active::after{
  -webkit-transform: scale(1);
  transform: scale(1);
}

.contentFooter .more{
  text-align: right;
  font-size: 1.1rem;
  padding:0;
}

.contentFooter .more li{
  padding:0;
}

.contentFooter .more .home{
  float: left;
}

.contentFooter .more .authHome{
  float: right;
}

.contentFooter .more a{
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}
