.contentHeader{
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 1.2rem;
  background-image: url(../img/bg.png);
}

.contentHeader img{
  border-radius: 50%;
  border: 0.13rem solid white;
}
.contentHeader .title{
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
}


.contentHeader ul{
    width: 100%;
    display: none;
    padding:0;
}

.contentHeader li{
  font-size: 1.1rem;
  padding: 1.0rem;
  letter-spacing: 0px;
  display: inline-flex;
  vertical-align: middle;
  float:right;
  padding-right: 0;
  padding-bottom: 0;
}

.contentHeader li.info{
  color: #162b4d;
  float: left;
  padding-right: 1.0rem;
  padding-left: 0;
  padding-top: 1.8rem;
}

.contentHeader .share{
  display: block;
  cursor: pointer;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}

.contentHeader .share li:active{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.contentHeader .share li:active::after{
  -webkit-transform: scale(1);
  transform: scale(1);
}

.contentHeader .authTitle{
  text-align: right;
  color: #162b4d;
}
@media only screen and (min-width: 769px) {
  .contentHeader ul{
      display: inline-block;
  }
}
