
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  overflow-x: hidden;
}
body {
  background: none repeat scroll 0 0 #0b192f;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.clrWhite{
  background: none repeat scroll 0 0 #FFF;
  color:#0b192f !important;
}
.clr0{
  /*background-color: #d12767;*/
  background: none repeat scroll 0 0 #B71757;
}

.clr1{
  background: none repeat scroll 0 0 #0D7E71;
}

.clr2{
  background: none repeat scroll 0 0 #b1660e;
}

.clr3{
  background: none repeat scroll 0 0 #2d95bb;
}

.pageHeader{
  text-align: center;
  font-size: 1.7rem;
  padding: 0.05rem;
  color: #637693;
}
.a1{
  width:25%;
}

.a2{
  width:35%;
}

.a3{
  width:100%;
}

@media only screen and (min-width: 480px) {
  .a1{
    width:20%;
  }

  .a2{
    width:28%;
  }

  *{
    overflow-x: initial;
  }


}

@media only screen and (min-width: 769px) {
  .a1{
    width:15%;
  }

  .a2{
    width:21%;
  }

  .a3{
    width:50%;
  }
}

@media only screen and (min-width: 960px) {
  .a1{
    width:10%;
  }

  .a2{
    width:14%;
  }

  .a3{
    width:50%;
  }
}

a{
  text-decoration:none
}

li{
  list-style: none outside none;
}

.right{
    float:right;
}

.left{
    float:right;
}

.noResults{
  text-align: center;
  padding: 2rem;
  color: #0b192f;
  font-size: 1.1rem;
}

a{
  display: block;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}

a:hover{
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

button{
  background-color: transparent;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  padding: 0.25em;
  border: 2px solid transparent;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: -moz-transition 0.25s ease;
  cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover{
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
   -moz-transition : scale(1.02);
}

.blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
