.item {
  position: static;
  float:left;
  color:#FFF;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  width: 94%;
  margin: 3% 3% 0% 3%;
  border-radius:4px;
}

.item .image{
  position: relative;
  float:right;
  height:11rem;
  width: 100%;
}

.item .time{
  display: inline-block;
  color: #162b4d;
  background-color: #f0f0f0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  float: right;
  width: auto;
  position: absolute;
  font-size: 0.85em;
  padding: 0.1rem 0.3rem;
}

.item .info{
  width:100%;
  padding: 0.5rem;
  position: static;
  float:left;
}

.item .name{
  font-size: 1.3rem;
  font-weight: 100;
  margin: 0 0 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  font-family: notosans;
}

.item .shortText{
  font-size: 0.9rem;
  opacity: 0.4;
  line-height: 1.4em;
  height: 2.8em;
  letter-spacing: 0.05rem;
  overflow: hidden;
  text-align: left;
  font-family: notosans;
}
.item .bottomRight{
  font-weight: 100;
  opacity: 0.8;
  text-align: right;
  margin:0.5rem 0 0 0;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (min-width: 480px) {
  .item {
    margin: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 97.2%;
    width: 46%;
  }

  .item .info{
    padding: 0.75rem;
  }
}

@media only screen and (min-width: 769px) {
  .item {
    width: 46.5%;
    width: 31.2%;
  }

}

@media only screen and (min-width: 960px) {
  .item {
    width: 31%;
    width: 23.3%;
  }
}
