.search{
  text-align: center;
  width: 100%;
  padding: 0.5rem 0.5rem;
}

input[type=text] {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1.2rem;
    background-color: white;
    padding:0.75rem;
    width: 100%;
}

@media only screen and (min-width: 480px) {
    .search{
      padding: 0;
    }

}
