.seriesItem {
  position: static;
  float:left;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  background-color: white;
  color: #0b192f;
  width: 94%;
  margin: 3% 3% 0% 3%;
  border-radius:4px;
}

.seriesItem .image{
  width:100%;
  position: relative;
  float:right;
  height:11rem;
}

.seriesItem .time{
  display: inline-block;
  color: #162b4d;
  background-color: #f0f0f0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  float: right;
  width: auto;
  position: absolute;
  font-size: 0.85em;
  padding: 0.1rem 0.3rem;
}
.seriesItem .info{
  width:70%;
  padding: 0.5rem;
  position: static;
  float:left;
  width: 100%;
}

.seriesItem .name{
  font-size: 1.3rem;
  font-weight: 100;
  margin: 0 0 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  font-family: notosans;
}

.seriesItem .shortText{
  font-size: 0.9rem;
  opacity: 0.8;
  line-height: 1.4em;
  height: 2.8em;
  letter-spacing: 0.05rem;
  overflow: hidden;
  text-align: left;
  font-family: notosans;
}

.seriesItem .episodeText{
  font-weight: 100;
  opacity: 0.5;
  text-align: left;
  margin:0.5rem 0 0 0;
  line-height: 1.4em;
  height: 2.8em;
  overflow: hidden;
  font-family: notosans;
}

.seriesItem .episodeText span{
  color: #000;
}

.seriesItem .bottomRight{
  font-weight: 100;
  opacity: 0.8;
  text-align: right;
  margin:0.5rem 0 0 0;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (min-width: 480px) {
  .seriesItem {
    margin: 0;
    width: 100%;
    margin-bottom: 3%;
  }

  .seriesItem .info{
    padding: 1rem;
  }

  .seriesItem .image{
    height: 15.05rem;
  }

  .seriesItem .name{
    margin: 0 0 0.75rem;
  }

  .seriesItem .shortText{
    height: 4.1em;
  }

  .seriesItem .episodeText{
    margin:0.75rem 0 0 0;
  }
  .seriesItem .bottomRight{
    margin:0.75rem 0 0 0;
  }
}

@media only screen and (min-width: 769px) {
  .seriesItem {
    margin-bottom:3.75%;
  }
}

@media only screen and (min-width: 960px) {

  .seriesItem .image{
    height: 14.96rem;
  }

  .seriesItem {
    margin-bottom:2.7%;
  }
}
