
.adImage{
   width: 100%;
   text-align: center;
   float: left;
   color: white;
   padding: 2rem;
   word-spacing: 0.2rem;
   line-height: 1.6;
}

.adIcon{
    width: 2rem;
    margin: -6px;
}
.stories{
  width: 100%;
  display:inline-block;
}

.stories .moreStories {
    width: 100%;
    float: left;
    text-align: center;
}

.stories .moreStories button {
    color: white;
}

@media only screen and (min-width: 480px) {
  .stories{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 99%;
  }

  .adImage{
     margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 769px) {
  .stories{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .adImage{
     display:block;
  }
}
