.adImage{
   width: 100%;
   text-align: center;
   height: 12rem;
   margin-bottom: 1rem;
}

.stories{
  width: 100%;
  display:inline-block;
}

@media only screen and (min-width: 480px) {
  .stories{
    padding-left: 1rem
  }
}

@media only screen and (min-width: 769px) {
  .stories{
    padding-left: 0rem
  }
}
