.stories{
  width: 100%;
  display:inline-block;
}

.stories .moreStories {
    width: 100%;
    float: left;
    text-align: center;
}

.stories .moreStories button {
    color: white;
}

@media only screen and (min-width: 480px) {
  .stories{
    width: 99%;
    padding-left: 0.75rem;
  }
}

@media only screen and (min-width: 769px) {
  .stories{
    padding-left: 0;
    width: 100%;
  }
}
