

.episodeTitle{
  font-size: 1.2rem;
  text-align: center;
  background: white;
  color: #0b192f;
  width: 100%;
  display: inline-block;
  float: left;
  padding-top: 2rem;
}

.contentBody{
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 1.2rem;
  background: none repeat scroll 0 0 #fff;
  color: #162b4d;
  font-family: notosans;
  float: left;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.contentBody p{
  text-indent: 12%;
  text-align: left;
  word-spacing: 0.3rem;
  line-height: 1.8;
  padding: 0.75rem 0rem;
}

.contentBody img{
  max-width: 100%;
  border-radius: 3px;
}

@media only screen and (min-width: 480px) {
  .contentBody img{
    max-width: 70%;
  }

}

@media only screen and (min-width: 769px) {
  .contentBody img{
    max-width: 50%;
  }
}
