
.contentBody{
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 1.2rem;
  background: none repeat scroll 0 0 #fff;
  color: #162b4d;
}

.contentBody p{
  text-indent: 20%;
  text-align: left;
  word-spacing: 0.3rem;
  line-height: 1.8;
  padding: 1rem 0rem;
}
